body
{
  background-color: #F9F9F9;
}
img {
  width: 250px;
  height: auto;
}
div{
    padding-left: 40px;
}

hr{
  border-color: #C9D8B6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}
em{
  border-bottom-style: solid;
}
.a{
  position: relative;
    left: 200px ;
    width: 40%;
    text-align: center;
  border-style: groove none ;
  border-width: thick;
  padding-right: 10px;
  width: 20%;
}
